@import "tailwindcss";

@tailwind utilities;

@theme {

  --font-poppins: "Poppins", sans-serif;
  --font-ovo: "Ovo", serif;
  --font-outfit: "Outfit", sans-serif;

}

@layer base{
  *{
  font-family: Outfit;
  }
}


@variant dark (&:is(.dark *));


.dark {
  color-scheme: dark;
}


